html body {
    font-size: 16px;
    color: #333;
    background-color: #fff;
    letter-spacing: 1px;
    font-family: "Space Mono", monospace, sans-serif;
}
.loader{
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.loader .inner{
    width: 100%;
    height: 100%;
    background: url("../img/loader.gif") center center no-repeat;
}

.bioSalution {
    font-size: 18px;
    font-weight: 500;
}

.bioSalution span{
    color: #f3369b;
    font-weight: 600;
}

#navigation {
    background-color: #f9ca24;
    z-index: 100;
    padding: 10px 10px 0;
    width: 100%;
}

#navigation li {
    padding: 0 10px
}

#navigation li a {
    color: #333;
    font-size: 1.25rem;
}
.navbar-brand,
.navbar-brand:hover{
    color: #333;
}

.navWelcome {
    width: 50px;
}
.navWelcome img{
    width: 100%;
    height: auto;
}

.fixedNav #navigation {
    position: fixed;
    top: 0;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.3); 
    z-index: 3;
}
.titleMessage {
    position: absolute;
    width: 100%;
    height: 250px;
    z-index: 5;
    text-align: center;
    top: 50%;
    margin-top: -150px;
}
.titleMessage .heading p {
    color: #fff;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
    letter-spacing: 8px;
    font-weight: 100;
}
.titleMessage .heading .mainTitle {
    font-size: 45px;
}

.titleMessage .heading .subTitle {
    font-size: 25px;
}
.slides-navigation {
    z-index: 6;
}

.slides-navigation a.next{
    right: 20px;
}

.slides-navigation a.prev {
    left: 20px;
}

.slides-navigation .prev .material-icons,
.slides-navigation .next .material-icons {
    font-size: 35px;
    color: white;
}

.sections {
    padding: 100px 0;
}
.selfImage {
    max-width: 100%;
}
.workSection,
.projectSection{
    background-color: #f6e58d;
}
.workSection h2 {
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.skill {
    text-align: center;
    margin-left: 25px;
}
.chart{
    position: relative;
    height: 152px;
    width: 152px;
    display: inline-block;
    text-align: center; 
}
.chart canvas {
    position: absolute;
    left: 0;
    top: 0;
}
.chart .percent {
    color: #333;
    line-height: 152px;
    font-size: 25px;
}

.chart .percent::after {
    content: '%';
}

.heading {
    padding-bottom: 25px;
    text-align: center;
    width: 100%;
}

.itemsContainer {
    width: 100%;
}
.items {
    list-style: none;
    text-align: center;
    padding: 0;
}
.items .item {
    display: block;
    overflow: hidden;
    position: relative;
}
.items .apps {
    display: inline-block;
    padding: 5px;
}
.item img {
    width: 300px;
    height: 300px;
    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}
.items .icons {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    z-index: 5;
    height: 40px;
    width: 90px;
    margin: -20px auto 0 -47px;
}
.items .icons i {
    color: #fff;
    font-size: 30px;
    margin-top: 5px; 
}
.icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: red;
    position: relative;
    -webkit-transition: all 0.2s linear, 0.2s;
    -moz-transition: all 0.2s linear, 0.2s;
    -o-transition: all 0.2s linear, 0.2s;
    -ms-transition: all 0.2s linear, 0.2s;
    -transition: all 0.2s linear, 0.2s;
}
.items .imageOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.items .item:hover .imageOverlay {
    opacity: 1;
}

.openImageButton {
    float: left;
    left: -200px;
}
.projectLink {
    float: right;
    right: -200px;
}
.items .item:hover .openImageButton {
    left: 0;
}
.items .item:hover .projectLink {
    right: 0;
}
.items .item:hover img {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -transform: scale(1.05, 1.05);
}

.contactForm{
    width: 100%;
    text-align: center;
}
.contactForm input {
    margin-bottom: 10px;
}

.intro{
   font-size: 16px;
}
.education {
    padding-top: 20px;
}
.education p {
    font-size: 15px;
}
.college {
    font-size: 18px !important;
    font-weight: 600;
}

.experiences ul {
    list-style: none;
    overflow: hidden;
    width: 240px;
    border-right: 1px solid #a93c2a;
}

.experiences ul li{
    display: block;
}
.experiences ul li a:hover {
	text-decoration: none;
	color: #e74c3c;
	background-color: #fff;
}

.bttn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-bottom: 1px solid #a93c2a;
    padding: 10px 12px;
    font-size: 1rem;
    line-height: 1.5;
    transition: border-color .15s ease-in-out;
    width: 100%;
}
.btn-p {
    color: rgb(12, 10, 10);
}
.experienceTab .active {
    background-color: #f9c824;
}
.experienceContent ul {
    padding: 0;
}
.contactButton {
    background-color: #fff;
	color: #f9c824;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #f9c824;
    border-radius: 2px;
}

.contactButton:hover {
	text-decoration: none;
	color: #e74c3c;
	background-color: #f9c824;
}
.row h2 i {
    font-size: 30px;
    vertical-align: top;
}